name: Python and R Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    name: Run Pytest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Remove local renv config
        run: rm -f .Rprofile renv.lock

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release' 
          use-public-rspm: true

      - name: Install R Dependencies (Dynamic)
        run: |
          Rscript -e "install.packages('renv')"
          Rscript -e "pkgs <- unique(renv::dependencies()\$Package); install.packages(pkgs)"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Run tests with pytest
        run: |
          export LD_LIBRARY_PATH=$(uv run python -m rpy2.situation LD_LIBRARY_PATH):$LD_LIBRARY_PATH
          PYTHONPATH=. uv run pytest